*checkpoint.ipynb
*__pycache__*

data/2022_07_26_NASA_COMPOSITE.csv
data/2022_07_26_TESS_TOI_CATALOG.csv
data/2022_07_27_confirmed_and_known_planets.csv
data/2022_07_27_confirmed_uncontroversial_innermost_transiting_exoplanet.csv
data/BTSETTL_AUMic_lte037-5.0-0.0a+0.0.BT-NextGen.7.dat.txt
data/TESS_response.txt
data/2022_07_27_tess_confirmed_and_known_planets.csv



results/archive
.~lock.*
plots/


data/backlog/
literature/
notebooks/backlog



